.k {
    background: url(http://ipic.su/img/img7/fs/1625537308_14-kartinkin-com-p-krasivii-fon-derevo-krasivie-foni-14.1630939979.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-attachment: fixed;
}
.outline {
    border: 2px solid pink;
    background: grey;
    color: white;
    padding: 0 10px;
          }