{% extends 'app/main.html' %}
{% block content %}




    <h2 class="outline"><br>Це я @julialadybird
        Прикраси для дівчаток своїми руками🌷
        Різноманіття, акуратність виконання, якість матеріалів!
        Спробую втілити усі ваші бажання❤<br>️</h2>

    <div class="product-wrapper">
        {% for product in products %}
            <div>
                <div class="card product">
                    <a href="#"> <img class="product-thumbnail" src="{{ product.thumbnail.url }}"></a>
                    <div class="product-preview bg-transparent">

                        <a class="product-title" href="{% url 'product' product.id %}">{{ product.headline }}</a>
                        <p class="product-intro">{{ product.description }}</p>
                        <p class="product-body">{{ product.created }}</p>
                        <hr>
                    </div>
                </div>


            </div>
        {% endfor %}


    </div>
{% endblock content %}
